.mob-nav {
    display: none;
}

  nav {  
            height: 40px;  
            width: 100%;  
            background: #ffffff;  
            font-size: 1.5em; 
            font-weight: bold; 
            font-family: 'Indie Flower'; 
            position: relative;  
            
        }  
    nav ul {  
            padding: 0;  
            margin: 0 auto;  
            height: 40px;
            text-align: center;  

        }  
    nav li {  
            display: inline; 

             
        }  
    .clearfix:before,  
    .clearfix:after {  
        content: " ";  
        display: table;  
    }  
    .clearfix:after {  
        clear: both;  
    }  
    .clearfix {  
        *zoom: 1;  
    }  
   
   nav li {
    width: auto;
   }

    nav a {  
        color: #1B7294;  
        display: inline-block;  
        text-align: center;  
        text-decoration: none;  
        line-height: 40px;  
        }  

    
    
    nav a:hover, nav a:active {  
        color: #099C77;  
        text-decoration: underline;
    }
    nav a#pull {  
        display: none;  
    }       

}
@media screen and (min-width: 1050px){
    nav li {
        padding: 15px;
    }
}
@media screen and (max-width: 890px) {  
    nav {   
        height: auto;  
        font-size: 1.1em;
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 33.333%;  
        float: left;  
        position: relative;
 
  
    nav a {  
        text-align: center;  
        width: 100%;  
        
    }  

}  
@media only screen and (max-width : 480px) {  
    .full-nav {
        display: none;
    }
    .mob-nav {
        display: block;
    }
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav li {
        width: 50%;
    }
    nav a#pull {  
        display: block;  
        background-color: #ffffff;  
        width: 100%;  
        position: relative;  
        text-align: right;


    }  
    nav a#pull:after {  
        content:"";  
        background:  no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 10px;  

    }  
   
}  
@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
   
      .full-nav {
        display: none;
    }
    .mob-nav {
        display: block;
    }
}  