       /** Site Navigation **/
          

.navbar{
    position: absolute;

}
.navbar-inverse .navbar-inner {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    border-color: #ffffff;
}




 .navbar ul {
            
                font-size: 1.5em;
                font-weight: 300;

            }       

 .navbar ul li {
                
                font-family: 'Indie Flower', cursive;
                text-decoration: none;
                font-weight: bold;
                padding: 10px, 10px;
                
            }
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: #1B7294;
background-color: #ffffff;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #1B7294;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
color: #777777;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
color: #777777;
background-color: #ffffff;
}

@media (min-width: 980px) {
    .navbar {
    position: absolute;
    width: 100%;
    top: 300px;
}

}