/**
 * Styles related to the story-bloom header.
 */
.siteheader {
    height: 200px;
    padding: 10px;
}

.siteheader-image {
	width: 100%;
    height: 100%;
	background-position-x: 50%;
    background-position-y: 50%;
    background-size: 68%;
    background-repeat: no-repeat;

}



@media only screen and (max-width: 800px) {
    .siteheader {
    padding: 0px 0px 0px 0px;
}
    .siteheader-image {
        background-size: 85%;
    }
 
   
}
    
@media only screen and (max-width: 480px) { 

  .siteheader {
    padding: 0px 0px 0px 0px;
}
    .siteheader-image {
        background-size: 140%;
    }
   
    .l-global-width {
        width: 100%;
}
}

@media only screen and (max-width: 370px) {
      .siteheader {
    padding: 0px 0px 0px 0px;
}
    .siteheader-image {
        background-size: 160%;
    }
   
    .l-global-width {
        width: 100%;
}
}
}