 
.profile {
	max-width: 200px;
 }

.profile-blurb {
	font-size: 1.5em;
	font-family: 'Indie Flower';
	text-align: center;
}


@media (max-width: 449px) {
.profile {
	top: 305px;

}
.profile-photo {
		
	    width: 75px;
	    height: auto;
}
.profile-blurb {
	display: none;
	
}
}
@media (min-width: 450px) and (max-width: 720px) {

.profile-photo {
		width: 130px;
	    height: auto;
	
 }
	}