{% load staticfiles %}
<!DOCTYPE html>
<html>
	{% include "blogs/site-header.html" %}
	<body>
		{% include "blogs/nav-bar.html" %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/blogs/index.css' %}">		
	  	<main class="l-global-width">
	    	<div class="row">
				<div class="col-sm-8">
					{% for post in posts %}
						<div class="post">
							<header class="post-header">
								<h3><a href="/b/{{post.category.id}}/{{post.id}}">{{post.title}}</a></h3>
								<span class="post-author">
									{{post.author}}
								</span>
								<span class="post-date">
									{{post.pub_date}}
								</span>
							</header>
							<div class="post-content">
								<a href="/b/{{post.category.id}}/{{post.id}}"><img class="img-responsive" src="{% static post.image_url %}" /></a>
							</div>
							<footer class="post-footer">
							</footer>		
						</div>
					{% endfor %}
				</div>
				<div class="col-sm-4">
					<div class="profile">
						<img class="profile-photo" src="../../static/images/profile.jpg">
						<div class="profile-blurb">
							Story Bloom is about the little things that make life great!  Join me in my journey of all things artistic with you, including recipes, diy, and inspirations.  Grab a cup of coffee, maybe some scissors or glue, and enjoy!
						</div>
					</div>
				</div>s
			</div>
		</main>
		{% include "blogs/site-footer.html" %}
	</body>

</html>