{% load staticfiles %}
<header class="siteheader l-global-width">
    <div class="siteheader-image"><div class="siteheader-content"></div>
    <div class="siteheader-content">
      <div class="siteheader-content-inner">

          <p>Story Bloom</p>
         
        </div>
    </div>
</header>
<nav class="clearfix">  
  <ul class="clearfix">
    <li>
      <a href="/"><img src="{% static 'images/home.jpg' %}">Home</a>
    </li>
    {% for category in categories %}
      <li> 
        <a  href="/b/{{category.id}}" title="{{category.name}}"><img src="../../../static/images/{{category.image_url}}"><span>{{category.name}}</span></a>
      </li>        
    {% endfor %}
    <li>
      <a href="#"><img src="{% static 'images/portfolio.jpg' %}">Portfolio</a>
    </li>
  </ul>
  <a id="pull" href="#"><img src="{% static 'images/menu.png' %}"</a>  
</nav>  