{% load staticfiles %}
<span class="mob-nav">
<nav class="clearfix">  
  <ul class="clearfix">
    <li>
      <a href="/"><img src="{{ MEDIA_URL }}home.jpg">Home</a>
    </li>
    {% for category in categories %}
      <li> 
        <a href="/b/{{category.id}}" title="{{category.name}}">
        	<img src="{{ MEDIA_URL }}{{category.image_url}}">
        	<span>{{category.name}}</span>
        </a>
      </li>        
    {% endfor %}
     </ul>
  <a href="#" id="pull"><img src="{{ MEDIA_URL }}menu.png"></a>  
</nav>  
</span>
<header class="siteheader l-global-width">
    <a href="/">
   		<img class="siteheader-image" src="{{ MEDIA_URL }}storybloom1.jpg">
	</a>
</header>
<span class="full-nav">
<nav class="clearfix">  
  <ul class="clearfix">
    <li>
      <a href="/"><img src="{{ MEDIA_URL }}home.jpg">Home</a>
    </li>
    {% for category in categories %}
      <li> 
        <a  href="/b/{{category.id}}" title="{{category.name}}">
        	<img src="{{ MEDIA_URL }}{{category.image_url}}">
        	<span>{{category.name}}</span>
        </a>
      </li>        
    {% endfor %}

  </ul>
  <a href="#" id="pull"><img src="{{ MEDIA_URL }}menu.png"></a>  
</nav>  
</span>