{% load staticfiles %}
<span class="mob-nav">
<nav class="clearfix">  
  <ul class="clearfix">
    <li>
      <a href="/"><img src="{% static 'images/home.jpg' %}">Home</a>
    </li>
    {% for category in categories %}
      <li> 
        <a href="/b/{{category.id}}" title="{{category.name}}">
        	<img src="{% static category.image_url %}">
        	<span>{{category.name}}</span>
        </a>
      </li>        
    {% endfor %}
     </ul>
  <a href="#" id="pull"><img src="{% static 'images/menu.png' %}"></a>  
</nav>  
</span>
<header class="siteheader l-global-width">
    <a href="/">
   		<img class="siteheader-image" src="{% static 'images/storybloom1.jpg' %}">
	</a>
</header>
<span class="full-nav">
<nav class="clearfix">  
  <ul class="clearfix">
    <li>
      <a href="/"><img src="{% static 'images/home.jpg' %}">Home</a>
    </li>
    {% for category in categories %}
      <li> 
        <a  href="/b/{{category.id}}" title="{{category.name}}">
        	<img src="{% static category.image_url %}">
        	<span>{{category.name}}</span>
        </a>
      </li>        
    {% endfor %}

  </ul>
  <a href="#" id="pull"><img src="{% static 'images/menu.png' %}"></a>  
</nav>  
</span>