{% load staticfiles %}
<!DOCTYPE html>
<html>
	{% include "blogs/site-header.html" %}
	<body>
		{% include "blogs/nav-bar.html" %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/blogs/post.css' %}">
		<main class="l-global-width">
			<div class="row">
				<div class="col-sm-8">
					<div class="post">
						
						<header class="post-header clearfix">
							<div id="socialshare" class="pull-right"></div>
							<h3>
								{{post.title}}
							</h3>
							<span onclick='return false;'>
							</span>

						</header>
						<div class="post-content">
							<p>
								{{post.post|safe}}
							</p>
						</div>
						<footer class="post-footer">
							<span class="post-author">
								{{post.author}}
							</span>
							<span class="post-date">
								{{post.pub_date}}
							</span>
						</footer>
					</div>
					
				</div>
				<div class="col-sm-4">
					<div class="profile">
						<div class="profile-img">
						<a href="/about.html">
							<img class="img-responsive" src="{% static 'images/profile2.jpg' %}" title="About">
						</a>
						</div>
						<div class="profile-blurb">
							<img class="img-responsive" src="{% static 'images/banner1.jpg' %}" title="About">
							Story Bloom is about the little things that make life great!  Join me in my journey of all things artistic. Grab a cup of coffee, maybe some scissors or glue, and enjoy!
						</div>
					</div>
				</div>
			</div>
			<p><a class="top" href="#"><img src="{% static 'images/scrolltop.jpg' %}"></a></p>
		</main>
		{% include "blogs/site-footer.html" %}
	</body>

</html>
